.slider{
  background:$red;
  position:relative;
  border-right:1px solid black;
  min-height: 100%;
  z-index: 100;
}
.slider-fixed{
  width: 30%;
}
.slider-mobile{
  width: 100%;
}
.slider-closed{
  width: 0%;
}

.toggle-btn{
    @extend .button-reset;
    position:absolute;
    background:none;
    cursor:pointer;
    color:#e2d96a;
    right:20px;
    z-index: 1000;
    font-size: 2em;
}