.search-result{
	width:25%;
	height:150px;
	margin-top:10px;
	border-radius:5px;
	margin-left:5px;
	margin-bottom: 5px;
	background-size: cover;
	box-shadow:0px 0px 1px 1px $blue;
	position:relative;
	
}
.search-result h4{
	color:white;
	background:$blue;
	text-align: center;
	width:95%;
	@include overlay(3);
	@include textOutline(#000); 
}
.overlay{
	@include overlay(2);
	background:black;
	opacity: 0;
	overflow: hidden;
	height: 100%;
	transition: opacity 500ms;
}
.search-result-new{
	cursor:pointer;
	&:hover{
		box-shadow:0px 0px 3px 3px $blue;
		.overlay{ opacity: 0.4;}
	}
}	

.search-result-selected{

	.overlay{
		opacity:0.5;
	}
	&:after{
		width: 100%;
		position:absolute;
		bottom:10%;
		z-index: 10;
		color:#00ff21;
		font-size: 3.7em;
		font-weight: bolder;
		text-align: center;
		font-family: "FontAwesome";
		content:"\f00c";
		text-shadow:0 0 12px lighten(#00ff21,10%);
	}
}		

		


.import-btn, .hidden-btn{
	@extend .button-reset;
	@include overlay(3);
	font-weight:bold;		
	bottom:3px;
	left:0;
}

.hidden-btn{
	display:none;
}
