.banner{
	display: flex;
	background:$green;
	padding:10px;
	justify-content: space-between;
	align-items:center;
	border-bottom:2px solid darken($green,40%);
	box-sizing:border-box;
	height:180px;
	@media screen and(max-width:760px){
		padding:1px;
		height:auto;
	}
}

.banner img{
	max-width: 100%;
	height:150px;
	margin-left:20px;
	border-radius:5px;
	border-bottom:1px solid darken($green,40%);

	@media screen and(max-width:760px){
		height:80px;
		margin-left:5px;
	}
}
		
.option-panel{
	color:black;
	display:flex;
    text-indent: 0;
}

.option{
	padding:10px;
}		

.banner-content{
	flex-grow:1.5;
	text-align: center;
	font-family: 'cursive';
	color:white;
	text-transform: capitalize;
	#banner-title{
		@include textOutline(#000);
		@media screen and (max-width:760px){
			padding-top:25px;
			font-size:1em;
		}
	}	
	.edit-field{ 
		width: 100%; 
		animation: fadeIn 1s; 
		justify-content: center;
	}
}
